@model ActionItem

<div class="modal fade" id="saveActionItemModal" tabindex="-1" aria-labelledby="saveActionItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="saveActionItemModalLabel">Add Action Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="ai-form" asp-controller="ActionItems" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Label" class="control-label"></label>
                        <input asp-for="Label" class="form-control" />
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea asp-for="Details" class="form-control"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="ParentId" />
                    <input type="hidden" asp-for="CampaignId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="ai-form" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>