@model Campaign

@{
    ViewData["Title"] = "Campaign";
}

@section StyleTag{}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                @if (User.Identity!.IsAuthenticated && User.IsInRole("Member") && User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.CreatedBy)
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary-soft" asp-controller="Members" asp-action="Campaigns" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"> 
                            <i class="bi bi-person-circle pe-1"></i> My Campaigns
                        </a>
                        <a class="btn btn-primary-soft" href="#"> 
                            <i class="bi bi-compass pe-1"></i> All Campaigns
                        </a>
                    </div>
                }
                else
                {
                    <a class="btn btn-primary-soft" href="#"> 
                        <i class="bi bi-compass pe-1"></i> Campaigns
                    </a>
                }
            </div>
            <div class="card-body">
                @await Html.PartialAsync("Campaigns/_CampaignTabList", Model)
                <div class="tab-content mb-0 pb-0">
                    <div class="tab-pane fade show active">
                        <div class="row g-2 mb-4">
                            <div class="col-sm-4">
                                <div class="d-flex border rounded-3">
                                    <div class="p-3">
                                        <i class="bi bi-arrow-through-heart fs-2"></i>
                                        <div class="">
                                            <h5 class="mb-0">$@Model.FundraisingGoal.ToString("0.00")</h5>
                                            <p class="mb-0">Fundraising Goal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex border rounded-3">
                                    <div class="p-3">
                                        <i class="bi bi-piggy-bank fs-2"></i>
                                        <div class="">
                                            <h5 class="mb-0">$@Model.Fundsraised().ToString("0.00")</h5>
                                            <p class="mb-0">Funds raised</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex border rounded-3">
                                    <div class="p-3">
                                        <i class="bi bi-cash-coin fs-2"></i>
                                        <div class="">
                                            <h5 class="mb-0">$@Model.FundsNeeded().ToString("0.00")</h5>
                                            <p class="mb-0">Funds needed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {}

@section ScriptTag {}