@model Invite

@{
    List<InvitedUser> invitedUsers = ViewBag.InvitedUsers;
}

<div class="modal fade" id="sendInviteModal" tabindex="-1" aria-labelledby="sendInviteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sendInviteModalLabel">Send Invite</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="invite-form" asp-controller="Invites" asp-action="Send">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Label" class="control-label"></label>
                        <input asp-for="Label" class="form-control" />
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    @foreach(var item in invitedUsers)
                    {
                        <div class="form-check">
                            <input
                                class="form-check-input" 
                                type="checkbox"
                                value="@item.InviteeKey" 
                                id="role-@item.InviteeKey" 
                                name="selectedUsers" 
                                checked="@item.Assigned" />
                            
                            <label class="form-check-label" for="invite-@item.InviteeKey">
                                @item.Name
                            </label>
                        </div>
                    }
                    <input type="hidden" asp-for="EntityId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="invite-form" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>