@model IEnumerable<ReplyAuthorModel>

<ul class="comment-item-nested list-unstyled">
    @foreach(var item in Model)
    {
         <li class="comment-item">
            <div class="d-flex">
                <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="~/media/members/@item.Creator!.Image" alt=""></a>
                </div>
                <div class="ms-2">
                    <div class="bg-light p-3 rounded">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1"> <a href="#!"> @item.Creator!.FullName </a> </h6>
                            <small class="ms-2">@item.Reply!.EntityAge()</small>
                        </div>
                        <p class="small mb-0">@item.Reply!.Content</p>
                    </div>
                    <ul class="nav nav-divider py-2 small">
                        <li class="nav-item">
                            <a class="nav-link" href="#!"> Like (5)</a>
                        </li>
                        <li class="nav-item">
                            <a data-parent="@item.Reply.Id" class="nav-link" href="#!"> Reply</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        @if (item.Reply.Children.Any())
        {
            @await Component.InvokeAsync("NestedReply", new { parentId = item.Reply.Id })
        }
    }
   
</ul>